.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  /* Espacio entre los controles */
}

.form-item {
  flex: 1 1;
  margin-right: 10px;
  /* Se ajusta automáticamente, pero con un ancho mínimo */
  /* width: calc(100% - 10px);  */
  width: 140px;
}