<mat-card style="margin:auto; width: 90%; margin-top:20px; margin-bottom: 20px;" >
  <mat-card-content>
    
<mat-tab-group mat-align-tabs="start">

  <!-- pendientes -->
  <mat-tab >
    <ng-template mat-tab-label>
      <mat-icon  style="color: #FFC107; margin-right: 8px;">access_time_filled</mat-icon>
      Pendientes
    </ng-template>

    <g-Table #gTablePedidosPendientes [Conf]="DataPedidosPendientes"></g-Table>
    <app-gInputDialog #gInputs style="display: none;"></app-gInputDialog>
    
    <div *ngIf ='!gTablePedidosPendientes.TieneDatos()' class="SinPedidosPendientes" >
      No se tiene pedidos pendientes de enviar
      <br>
      <mat-icon>sentiment_very_dissatisfied</mat-icon>
    </div>

  </mat-tab>

  <!-- Enviados -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon  style="color: #ed7c31; margin-right: 8px;">local_shipping</mat-icon>
      Enviados
    </ng-template>
    <g-Table #gTablePedidosEnviados [Conf]="DataPedidosEnviados"></g-Table>
  </mat-tab>

  <!-- reprogramados -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon  style="color: #FF2377; margin-right: 8px;">update</mat-icon>
      Reprogramados
    </ng-template>
    <g-Table #gTablePedidosReprogramado [Conf]="DataPedidosReprogramados"></g-Table>
  </mat-tab>

<!-- rechazado -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon  style="color: #ff2c16; margin-right: 8px;"> dangerous </mat-icon>
      Rechazados
    </ng-template>
    <g-Table #gTablePedidosRechazado [Conf]="DataPedidosRechazado"></g-Table>
  </mat-tab>

  <!-- entregado -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon  style="color: #0084b5; margin-right: 8px;">volunteer_activism</mat-icon>
      Entregado
    </ng-template>
    <g-Table #gTablePedidosEntregado [Conf]="DataPedidosEntregado"></g-Table>
  </mat-tab>
    
  <!-- Rendido -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon  style="color: #28A745; margin-right: 8px;">assignment_turned_in</mat-icon>
      Rendido
    </ng-template>
    <form [formGroup]="rendidosForm" style="margin-top:10px">
      <!-- Campo de tipo Fecha -->
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>Desde</mat-label>
        <input matInput [matDatepicker]="desde" formControlName="pDesde">
        <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
        <mat-datepicker #desde></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="form-item" appearance="outline">
        <mat-label>Hasta</mat-label>
        <input matInput [matDatepicker]="hasta" formControlName="pHasta">
        <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
        <mat-datepicker #hasta></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="cargarRendidos()">Mostrar</button>
    </form>
    <g-Table #gTablePedidosRendidos [Conf]="DataPedidosRendidos"></g-Table>
  </mat-tab>

</mat-tab-group>
  </mat-card-content>
</mat-card>


