<div class="container">

  <mat-card class="card">
    <!-- <mat-card-header> -->
      <!-- <mat-card-title>  </mat-card-title> -->
      <!-- <mat-card-subtitle></mat-card-subtitle> -->
    <!-- </mat-card-header> -->

    <mat-card-content>
      <g-Table #gTableEnvios [Conf]="DataEnvios"></g-Table>
      <g-mapa #gMapaCliente style="display: none;"></g-mapa>
      <g-mapa #gMapaEnvios style="display: none;"></g-mapa>
    </mat-card-content>

  </mat-card>


</div>
<app-gInputDialog #gInputs style="display: none;"></app-gInputDialog>

<!-- <g-table #gTablePedidos [Conf]="DataPedidos" ></g-table> -->