.navbar {

  /*background: #0084b5;
  color: #fff;*/
  box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
  background: #fff;
  color: #0084b5;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.title {
  flex: none;
  text-align: center;
  width: calc(100% - 96px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;

}

.title-content {
  display: flex;
  align-items: flex-end;
  padding: 0.5rem;
  border-radius: 5px;
}