<div #popupMap id="popupMap" style="width: 100%; height: 100%;">
  <div class="acciones">
    <ng-container *ngIf="!data.isSoloLectura">
      <button mat-raised-button color="primary" (click)="onConfirm($event)" >Confirmar Ubicación</button>
      <button mat-raised-button color="warn" (click)="onCancel()" style="margin-left: 10px;">Cancelar</button>
    </ng-container>
    <ng-container *ngIf="data.isSoloLectura">
      <button mat-raised-button color="primary" (click)="onCancel()" style="margin-left: 10px;">Aceptar</button>
    </ng-container>

  </div>
</div>

